body {
    margin: 0;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: #CECECE;
    --logo-with: 300px;
    --logo-height: var(--logo-with);
    --bottom-line-width: 30vw;
    --x-center: 50vw;
    --y-center: 45vh;
    --linked-in-width: 80px;
    --left-line: 25%;
    --right-line: 75%;
    --unlock-potential-width: 188px;
    --line-height: 20px;
    --coming-soon-width: 128px;
    --line-top-position: calc(var(--y-center) - (var(--line-height) / 2));

}


.unlock-potential {
    position: absolute;
    top: var(--line-top-position);
    left: calc(var(--left-line) - calc(var(--unlock-potential-width) / 2));
    height: 20px;
}

.unlock-potential-img {
    height: 100%;
}


.logo-screen-center {
    width: var(--logo-with);
    position: absolute;
    top: calc(var(--y-center) - var(--logo-height) + (var(--logo-height) / 2));
    left: calc(50% - var(--logo-with) + (var(--logo-with) / 2));
}

.logo-screen-center-img {
    width: 100%;
}


.bottom-line {
    position: absolute;
    top: 80%;
    left: calc(var(--x-center) - calc(var(--bottom-line-width) / 2));
    width: var(--bottom-line-width);
}

.bottom-line-img-mobile {
    display: none;
}

.bottom-line-img {
    width: 100%;
}

.bottom-line-mobile {
    display: none;
}


.linked-in {
    position: absolute;
    top: 90%;
    left: calc(var(--x-center) - calc(var(--linked-in-width) / 2));
}

.linked-in-img {
    width: var(--linked-in-width);
}

.coming-soon {
    position: absolute;
    top: var(--line-top-position);
    left: calc(var(--right-line) - calc(var(--coming-soon-width) / 2));
    height: 20px;
}

.coming-soon-img {
    height: 100%;
}


@media only screen and (max-width: 600px) {
    #main {
        --logo-with: 80vw;
        --bottom-line-width: 215px;
        --bottom-line-height: 118px;
        --margin: 10px;
        --bottom-line-top: calc(50vh + 100px);
        --linked-in-width: 100px;
    }

    .unlock-potential {
        position: absolute;
        top: 0;
        left: 0;
        height: 15%;
        width: 100vw;
    }


    .unlock-potential-img {
        width: 50vw;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
    }

    .logo-screen-center {
        position: absolute;
        top: 15%;
        left: 0;
        height: 40%;
        width: 100%;
        text-align: center;
    }

    .logo-screen-center-img {
        width: 80%;
        max-height: 35vh;
    }


    .coming-soon {
        position: absolute;
        top: 55%;
        left: 0;
        height: 15%;
        width: 100vw;
        --coming-soon-img-width: 40vw;
    }

    .coming-soon-img {
        width: 40vw;
        position: absolute;
        top: 50%;
        left: calc(var(--x-center) - var(--coming-soon-img-width) / 2);
        transform: translateY(-50%);
    }

    .bottom-line {
        display: block;
        position: absolute;
        width: 100vw;
        top: 70%;
        height: 20%;
        left: 0;
    }

    .bottom-line-img {
        display: none;
    }

    .bottom-line-img-mobile {
        width: var(--bottom-line-width);
        position: absolute;
        top: 50%;
        left: calc(var(--x-center) - var(--bottom-line-width) / 2);
        transform: translateY(-50%);
    }

    .linked-in {
        position: relative;
        top: 90%;
        left: 0;
        height: 10%;
    }

    .linked-in-img {
        width: var(--linked-in-width);
        position: absolute;
        top: 50%;
        left: calc(var(--x-center) - var(--linked-in-width) / 2);
        transform: translateY(-50%);
    }


}